.apwrims-svg-spinner {
    animation: apwrimsRotate 1.4s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

.apwrims-svg-spinner .path {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: apwrimsDash 1.4s ease-in-out infinite;
}

@keyframes apwrimsRotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes apwrimsDash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}